<style>
  @media screen and (min-width : 890px) and (max-width : 2000px){ 

        footer {
      position:absolute;
      width:100%;
      bottom:0;
      
        }
        /*temp dix*/

    }

 </style>
        
         <div class= "row">
             <div class= "col l8 offset-l2 m8 offset-m2 s10 offset-s1">

                <div class="card contactR">
                        <div class="card-content">
                        
        
                   <form autocomplete="off">
                    <div class="row">
                            <div class="input-field col s6">
                              <input placeholder="Last Name" id="first_name" type="text" class="validate">
                              <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                              <input id="last_name" type="text" class="validate">
                              <label for="last_name">Last Name</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="email" type="email" class="validate">
                              <label for="email">Email</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                          <i class="material-icons prefix">mode_edit</i>
                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                             <label for="icon_prefix2">Message Me</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col l2 offset-l10 col s5 offset-s7">
                                <button class="btn waves-effect waves-light grey darken-1 contForm" type="submit" name="action">Submit
                                  <i class="material-icons right">send</i>
                                </button>
                            </div>
                          </div>

                      </form>
                            
                        </div> <!--CARD content DIV-->
                    </div>  <!--CARD DIV-->
                </div> <!--MAIN BODY COLUMN DIV-->

                        <div class="row">
                          <div class="col l6 offset-l3 m6 offset-m3 s6 offset-s3 subbbed"></div>
                       </div>

                
            </div> <!--ROW DIV-->


