<!-- <div class="container-fluid cardUno">  -->
    <div class="row-fluid cardUno">
        <div class="col l12 m6 offset-m3 s6 offset-s3 ">
           
                <!-- <img class="card-img-top"> -->
              <!-- <div class="col s6 offset-s6"> -->
                <div class="centered" id="test"><p>Michael Minardi</p></div>
                <div class="centered2" id="test"><p>Full Stack Developer</p></div>
                <!-- <div class="c3" id="test"><p>Passion for writing clean, efficient code.</p></div> -->
              </div>

              
        </div>
      <!-- </div> -->
                


<!-- <div class="container-fluid brkRow"> -->
  <div class="row brkRow">
      <div class="col s12"><h2 class="background"><span>Some of my Projects</span></h2></div>
    </div>

    <div class="row">
        <div class="col l3 offset-l3 s8 offset-s2">
          <div class="card cardsImg">
            <div class="card-image">
                <a href="https://battlebots.herokuapp.com/"><img class="cardsImg responsive-img" src="pictures/bb.jpg"></a>

            </div>
            <div class="card-content contcont">
              <p>BattleBots</p>
              <p class="botext">School Project</p>
            </div>
          </div>
        </div>

        <div class="col l3 s8 offset-s2">
            <div class="card cardsImg">
              <div class="card-image">
                <a href="https://michaelnunzio.github.io/projectUno/"><img class="cardsImg responsive-img" src="pictures/buzzer.jpg"></a>
              
              </div>
              <div class="card-content contcont">
                <p>The Buzzer</p>
                <p class="botext">School Project</p>
              </div>
            </div>
          </div>

      </div>