<div class="underCon">

<p class="marquee"><span>UNDER CONSTRUCTION - Portfolio Coming Soon - UNDER CONSTRUCTION - Portfolio Coming Soon
     - UNDER CONSTRUCTION - Portfolio Coming Soon - UNDER CONSTRUCTION - Portfolio Coming Soon - 
     UNDER CONSTRUCTION - Portfolio Coming Soon - UNDER CONSTRUCTION - Portfolio Coming Soon</span></p>

</div>